
.meilisearch-plugin-home .leen-table th,
.meilisearch-plugin-home .leen-table td {
  padding: 1em;
  border-spacing: 0;
  text-align: left;
  white-space: nowrap;
}

.meilisearch-plugin-home .title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.meilisearch-plugin-home .title-wrapper h2 {
  font-size: 23px;
  line-height: 23px;
  font-weight: 400;
  margin: 0 0.5em 0 0;
}

.meilisearch-plugin-home .title-wrapper h2,
.meilisearch-plugin-home .title-wrapper a,
.meilisearch-plugin-home .title-wrapper .form {
  display: inline-block;
}

.meilisearch-plugin-home .title-wrapper .form.transform-up {
  transform: translateY(-6px);
}

.meilisearch-plugin-home .table-wrapper {
  position: relative;
  overflow-x: scroll;
}

.meilisearch-plugin-home .table-wrapper table {
  display: table-cell;
}
